*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 width: auto ;
  font-family: 'Jost', sans-serif;
  background-color: #fffdfd;
}



header {
  background-color: #f1e8e8;
  color: #1e1616;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top: 0;
  left: 0;
  
}

.logo a{
  font-size: 40px;
  text-decoration: none;
  font-weight: 600;
}
span{
  color: #ff0000;

}



.navmenu {
  column-gap: 50px;
  list-style: none;
  display: flex;
  font-size: 23px;
}

.navmenu li {
  margin-right: 20px;
}

.navmenu a {
  text-decoration: none;
  color: #484343;
  font-weight: bold;
}

.nav-icon {
  font-size: 25px;
  display: flex;    
  list-style-type: none;
}
.nav-search{
  position: relative;
  top: 4px;
  height: 32px;
  width: 220px;
  border-radius: 12px;
  text-align: center;
}
.bx-search{
  position: absolute;
  right: 8px;
  top: 18px;
  font-size: 18px;
}
.navSearchdiv{
  position: relative;
}

.nav-icon li {
  margin: 10px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
.input{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 5px; 
}
.input input{
  font-size: 25px;
  border: white;
  background: none;
  outline: none;
}
.user,.add{
  font-size: 25px;
}
.search{
  font-size: 25px;
}